<div class="card"  style="overflow: visible;">
  <div class="card-content">
    <span class="card-title grey-text text-darken-4" onclick="toogle_div('#pesquisa')">
      Pesquisa
    </span>
    <div id="pesquisa" class="not-show">
      <%= search_form_for @q, url: request.env['PATH_INFO'] do |f|  %>
        <%= f.text_field :user_nome_or_status_or_dst_local_nome_cont, placeholder: "Pesquisar..." %>
        <div class="row">
          <div class="col s12 m5">
            <%= f.label :created_at_gteq, "Criada em" %>
            <%= f.date_field :created_at_gteq %>
          </div>
          <div class="col s12 m2"> até </div>
          <div class="col s12 m5">
            <%= f.label :created_at_lteq, "Criada em" %>
            <%= f.date_field :created_at_lteq %>
          </div>
        </div>
        <div class="row">
          <div class="col s12 m5">
            <%= f.label :mes, "Mês" %>
            <%= f.select :mes_cont, meses_for_select, placeholder: "Mês", prompt: true, include_blank: true %>
          </div>
          <div class="col s12 m5">
            <%= f.label :mes, "Ano" %>
            <%= f.number_field :ano_eq, placeholder: "Ano"  %>
          </div>
        </div>
        <div class="row">
          <div class="col s12 m5">
            <%= f.label :status_cont, "Status" %>
            <%= f.select :status_cont, DstSolicitacao.status.options, prompt: true, include_blank: true %>
          </div>
        </div>
        <%= f.submit "Filtrar", class:"btn" %>
      <% end %>
    </div>
  </div>
</div>

<table class="card striped responsive-table">
  <thead>
    <tr>
      <th>Solicitação Nº</th>
      <th>Mês</th>
      <th>Ano</th>
      <th>Município</th>
      <th>Solicitante</th>
      <th>Status</th>
    </tr>
  </thead>

  <tbody>
    <% @dst_solicitacaos.each do |dst_solicitacao| %>
    <tr>
      <td><%= link_to dst_solicitacao.id ,dst_solicitacao %></td>
      <td><%= dst_solicitacao.mes.upcase  %></td>
      <td><%= dst_solicitacao.ano  %></td>
      <td><%= dst_solicitacao.cidade %></td>
      <td><%= dst_solicitacao.user %></td>
      <td><%= dst_solicitacao.status.upcase  %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<div class="card-panel">
  <%= paginate(@dst_solicitacaos)  %>
</div>

<%= link_to '+ Solicitar', new_dst_solicitacao_path, class:"btn" %>
