<div class="card-panel">
  <h4 class="center"><%= @dst_solicitacao %></h4>

  <p>
    <strong>Município:</strong>
    <%= @dst_solicitacao.cidade %>
  </p>
  <p>
    <strong>Solicitante:</strong>
    <%= @dst_solicitacao.user %>
  </p>
  <p>
    <strong>Responsável:</strong>
    <%= @dst_solicitacao.responsavel %>
  </p>
  <p>
    <strong>Cargo/Função:</strong>
    <%= @dst_solicitacao.cargo_funcao %>
  </p>
  <p>
    <strong>Contato:</strong>
    <%= @dst_solicitacao.contato %>
  </p>

  <p>
    <strong>Código de Autorização:</strong>
    <%= @dst_solicitacao.token %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= @dst_solicitacao.status %>
  </p>

</div>

<div class="card-panel">
  <h4 class="header2">Observações</h4>
  <p>
    <%= @dst_solicitacao.observacoes %>
  </p>
</div>

<div class="card-panel">
  <h4 class="header2">Produtos Solicitados</h4>
  <table class="table striped">
    <thead>
        <th>Nº Controle</th>
        <th>Produto</th>
        <th>Saldo Anterior</th>
        <th>MS</th>
        <th>Remanejado</th>
        <th>Distribuído</th>
        <th>Perdas</th>
        <th>Solicitado</th>
        <th>Autorizado</th>
        <th>Atendido</th>
        <th>Saldo Final</th>
        <th>Status</th>
    </thead>
    <tbody>
      <% @dst_solicitacao.dst_solicitacao_produtos.each do |sp| %>
        <tr>
          <td><%= link_to sp.id, sp %></td>
          <td><%= sp.dst_produto %></td>
          <td><%= sp.saldo_anterior.to_i %></td>
          <td><%= sp.entradas_ms.to_i %></td>
          <td><%= sp.qtd_remanejado.to_i %></td>
          <td><%= sp.distribuido.to_i %></td>
          <td><%= sp.qtd_perdas.to_i %></td>

          <td><%= sp.quantidade.to_i %></td>
          <td>
            <%= sp.quantidade_aprovada.to_i || 0 %>
            <%= link_to sp do %>
                <i class="material-icons tiny">edit</i>
            <% end if current_user.administrador? || current_user.admin_dst? || current_user.dst_produtos? %>
          </td>
          <td>
            <%= sp.quantidade_atendido %>
          </td>
          <td>
            <%= sp.saldo_final %>
          </td>
          <td>
            <%= sp.status %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="card-panel">
  <h4 class="header2">Questionário</h4>
  <table class="table striped">
    <% @dst_solicitacao.dst_resposta.each do |r| %>
        <tr>
          <td><%= r.dst_questionario %></td>
          <td><%= r.valor %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>

<%= link_to 'Voltar', dst_solicitacaos_path, class:"btn" %>
<% if current_user.administrador? || current_user.admin_dst? %>
  <%= link_to 'Aprovar', autorizar_dst_solicitacao_path(@dst_solicitacao), class:"btn green" %>
  <%= link_to 'Recusar', recusar_dst_solicitacao_path(@dst_solicitacao), class:"btn red" %>
<% end %>
