<%= nested_form_for(dant_pacient) do |f| %>
  <% if dant_pacient.errors.any? %>
    <div id="error_explanation" class="card-panel red white-text">
      <h5>Resolva os problemas a seguir antes de Salvar:</h5>

      <ul>
      <% dant_pacient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="card-panel">
  <div class="row">
    <div class="input-field col s10">

      <%= f.label :nome %>
      <%= f.text_field :nome, required: true %>

    </div>

    <div class="input col s2">

      <%= f.label :sexo %>
      <%= f.select :sexo, DantPacient.sexo.options, {prompt: true},{required: true, class: "browser-default"} %>


    </div>
  </div>

  <div class="input">
    <%= f.label :cidade_id, "Cidade" %>
    <%= f.select :cidade_id, @cidades, {prompt: true}, {required: true, class:"browser-default select2"} %>

  </div>
  <div class="input-field">

    <%= f.label :endereco %>
    <%= f.text_field :endereco %>
    
  </div>

  <div class="row">
    <div class="input-field col l4 s12">

      <%= f.label :rg %>
      <%= f.text_field :rg %>

    </div>

    <div class="input-field  col l4 s12">

      <%= f.label :cpf %>
      <%= f.text_field :cpf %>

    </div>

    <div class="input-field  col l4 s12">

      <%= f.label :cartao_sus, "Cartão SUS" %>
      <%= f.text_field :cartao_sus %>

    </div>
  </div>
  <div class="input">

    <%= f.label :data_nascimento %>
    <%= f.date_field :data_nascimento , required: true%>

    
  </div>

 <!-- <div class="input-field">

    <%#= f.label :frascos_diarios, "Dose Diária" %>
    <%#= f.number_field :frascos_diarios, step: 1, required: true %>
    
  </div>

  <div class="input">

    <%#= f.label :tipo_insulina %>
    <%#= f.select :tipo_insulina , DantPacient.tipo_insulina.options , {prompt: true},{required: true, class:'browser-default'}%>

    
  </div> -->

  <div class="card" style="overflow: visible;">
    <div class="card-content">
      <span class="card-title">Insulinas</span>
      <%= f.fields_for :dant_doses do |esq| %>
        <div class="row">
          <div class="input col s3">
            <%= esq.label :tipo_insulina, "Tipo" %>
            <%= esq.select :tipo_insulina , DantDose.tipo_insulina.options , {prompt: true},{required: true, class:"browser-default chosen-select"}%>

          </div>
          <div class="col s2">
            <%= esq.label :dose_diaria, "Dose Diária" %>
            <%= esq.number_field :dose_diaria, step: 1, required: true %>
          </div>

          <div class="col s4">
            <%= esq.link_to_remove "Remover" %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="card-action">
      <%= f.link_to_add "Inserir Insulina", :dant_doses %>
    </div>
  </div>

 <!-- <div class="row">
    <div class="input-field col l3">


      <%= f.check_box :hipertenso %>
      <%= f.label :hipertenso %>

    </div>

    <div class="input-field  col l3">


      <%= f.check_box :diabetico %>
      <%= f.label :diabetico %>

    </div>

    <div class="input-field  col l3">


      <%= f.check_box :tabagista %>
      <%= f.label :tabagista %>

    </div>

    <div class="input-field  col l3">


      <%= f.check_box :etilista %>
      <%= f.label :etilista %>

    </div>
  </div>
  <br>
  <div class="row">
    <div class="input-field col l3">


      <%= f.check_box :obeso %>
      <%= f.label :obeso %>
    </div>

    <div class="input-field col l6">

      <%= f.select :grau_obesidade, DantPacient.grau_obesidade.options, prompt: true  %>
      <%= f.label :grau_obesidade %>

    </div>
  </div> -->
<% if !@dant_pacient.new_record? %>
  <div class="row">
    <div class="input-field col l3">


      <%= f.check_box :obito %>
      <%= f.label :obito, "Óbito" %>
    </div>

    <div class="input-field col l6">

      <%= f.label :data_obito, "Data do óbito" %>
      <%= f.text_field :data_obito, class:"datepicker" %>


    </div>
  </div>
<% end %>

</div>
  <div class="actions">
    <%= f.submit "Salvar", class:"btn" %>
  </div>
<% end %>
