<div class="card-panel">
	
<p>
  <strong>Nome:</strong>
  <%= @dant_pacient.nome %>
</p>

<p>
  <strong>Sexo:</strong>
  <%= @dant_pacient.sexo %>
</p>

<p>
  <strong>Endereco:</strong>
  <%= @dant_pacient.endereco %>
</p>

<p>
  <strong>Rg:</strong>
  <%= @dant_pacient.rg %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @dant_pacient.cpf %>
</p>

<p>
  <strong>Idade:</strong>
  <%= @dant_pacient.idade %>
</p>

<p>
  <strong>Frascos diarios:</strong>
  <%= @dant_pacient.frascos_diarios %>
</p>

<p>
  <strong>Frascos mensais:</strong>
  <%= @dant_pacient.frascos_mensais %>
</p>

<p>
  <strong>Tipo insulina:</strong>
  <%= @dant_pacient.tipo_insulina %>
</p>

<p>
  <strong>Hipertenso:</strong>
  <%= @dant_pacient.hipertenso %>
</p>

<p>
  <strong>Diabetico:</strong>
  <%= @dant_pacient.diabetico %>
</p>

<p>
  <strong>Tabagista:</strong>
  <%= @dant_pacient.tabagista %>
</p>

<p>
  <strong>Etilista:</strong>
  <%= @dant_pacient.etilista %>
</p>

<p>
  <strong>Obeso:</strong>
  <%= @dant_pacient.obeso %>
</p>

<p>
  <strong>Grau obesidade:</strong>
  <%= @dant_pacient.grau_obesidade %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @dant_pacient.cidade %>
</p>

</div>
<%= link_to 'Voltar', dant_pacients_path, class:"btn" %>
