<div class="card-panel">
	
<p>
  <strong>Avaliacao notificacao:</strong>
  <%= @classificacao_grau.avaliacao_notificacao %>
</p>

<p>
  <strong>Data:</strong>
  <%= @classificacao_grau.data %>
</p>

<p>
  <strong>Olho direito:</strong>
  <%= @classificacao_grau.olho_direito %>
</p>

<p>
  <strong>Olho esquerdo:</strong>
  <%= @classificacao_grau.olho_esquerdo %>
</p>

<p>
  <strong>Mao direita:</strong>
  <%= @classificacao_grau.mao_direita %>
</p>

<p>
  <strong>Mao esqueda:</strong>
  <%= @classificacao_grau.mao_esqueda %>
</p>

<p>
  <strong>Pe direito:</strong>
  <%= @classificacao_grau.pe_direito %>
</p>

<p>
  <strong>Pe esquerdo:</strong>
  <%= @classificacao_grau.pe_esquerdo %>
</p>

<p>
  <strong>Maior grau:</strong>
  <%= @classificacao_grau.maior_grau %>
</p>

<p>
  <strong>Escore omp:</strong>
  <%= @classificacao_grau.escore_omp %>
</p>

</div>
<%= link_to 'Voltar', classificacao_graus_path, class:"btn" %>
