

<div class="card-panel">
  Avaliação
  <div class="input-field">


    <%= f.select :classificacao_operacional, @classificacoes_operacionais, {prompt: true} %>
    <%= f.label :classificacao_operacional %>
  </div>

  <div class="row">
    <div class="input-field col s6">

      <%= f.label :inicio_pqt, "Início PQT" %>
      <%= f.text_field :inicio_pqt, class:"datepicker" %>

    </div>

    <div class="input-field col s6">

      <%= f.label :alta_pqt, "Alta PQT" %>
      <%= f.text_field :alta_pqt, class:"datepicker"  %>

    </div>
  </div>

  <div class="input-field">

    <%= f.label :profissao %>
    <%= f.text_field :profissao %>
    
  </div>

  <div class="input-field">

    <%= f.label :unidade_saude %>
    <%= f.text_field :unidade_saude %>
    
  </div>
  <br>
  <strong>Tratamentos Propostos</strong>
  <br>
  <div class="row">
    <div class="input-field col s4">


      <%= f.check_box :atividades_orientadas %>
      <%= f.label :atividades_orientadas %>

    </div>
    <div class="input-field col s4">


      <%= f.check_box :atividades_realizadas_ubs %>
      <%= f.label :atividades_realizadas_ubs, "Atividades realizadas na UBS" %>

    </div>

    <div class="input-field col s4">


      <%= f.check_box :grupo_autocuidado %>
      <%= f.label :grupo_autocuidado, "Participação em grupo de autocuidadeo" %>

    </div>


  </div>

  <br>
  <div class="row input-field">

    <%= f.label :encaminhamentos %>
    <%= f.text_field :encaminhamentos %>
    
  </div>

  <div class="row">

    <div class="input-field col s6">

      <%= f.label :imobilizacoes, "Imobilizações" %>
      <%= f.text_field :imobilizacoes %>

    </div>

    <div class="input-field col s6">

      <%= f.label :adaptacoes, "Adaptações" %>
      <%= f.text_field :adaptacoes %>

    </div>
  </div>

  <div class="input-field">

    <%= f.label :observacoes, "Observações" %>
    <%= f.text_area :observacoes,class:"materialize-textarea" %>
    
  </div>


  <%= f.hidden_field :notificacao_id %>

  <!-- Episodio Reacional -->

  <div class="card">
    <div class="card-content">
      <span class="card-title">Avaliação Neurológica Simplificada</span>
      <%= f.fields_for :avaliacao_neurologicas do |esq| %>
          <div class="row">
            <div class="col s12 l4 input">
              <%= esq.label :queixa_id, "Queixa" %>
              <%#= esq.select :queixa_id, @queixas, {prompt: true}, {class: "browser-default select2"} %>
              <%= esq.grouped_collection_select :queixa_id, CategoriaQueixa.all,:queixas,:nome, :id, :nome,{prompt:true},{class:"browser-default select2"} %>
            </div>
            <div class="col s6 l2 input-field">

              <%= esq.label :direito, "Direito" %>
              <%= esq.text_field :direito %>
            </div>
            <div class="col s6 l2 input-field">
              <%= esq.label :esquerdo,"Esquerdo" %>
              <%= esq.text_field :esquerdo %>
            </div>
            <div class="col s12 l2">
              <%= esq.label :data, "Data" %>
              <%= esq.text_field :data, class:"datepicker" %>
            </div>
            <div class="col s4 l1">
              <%= esq.link_to_remove "Remover" %>
            </div>
          </div>
      <% end %>
    </div>
    <div class="card-action">
      <%= f.link_to_add "Novo Avaliação Neurológica", :avaliacao_neurologicas %>
    </div>
  </div>

  <!-- Classificação do Grau -->

  <div class="card">
    <div class="card-content">
      <span class="card-title">Classificação do Grau</span>
      <%= f.fields_for :classificacao_graus do |esq| %>
          <div class="row">
            <div class="col s2 input-field">
              <%= esq.label :olho_direito, "Olho Direito" %>
              <%= esq.number_field :olho_direito %>
            </div>
            <div class="col s2 input-field">

              <%= esq.label :olho_esquerdo, "Olho Esquerdo" %>
              <%= esq.number_field :olho_esquerdo %>
            </div>
            <div class="col s2 input-field">
              <%= esq.label :mao_direita,"Mão Direita" %>
              <%= esq.number_field :mao_direita %>
            </div>
            <div class="col s2 input-field">
              <%= esq.label :mao_esqueda, "Mão Esquerda" %>
              <%= esq.number_field :mao_esqueda %>
            </div>
            <div class="col s2 input-field">

              <%= esq.label :pe_direito, "Pé Direito" %>
              <%= esq.number_field :pe_direito %>
            </div>
            <div class="col s2 input-field">
              <%= esq.label :pe_esquerdo,"Pé Esquerdo" %>
              <%= esq.number_field :pe_esquerdo %>
            </div>
            <div class="col s2 input-field">

              <%= esq.label :maior_grau, "Maior Grau" %>
              <%= esq.number_field :maior_grau %>
            </div>
            <div class="col s2 input-field">
              <%= esq.label :escore_omp,"Escore OMP" %>
              <%= esq.number_field :escore_omp %>
            </div>
            <div class="col s2">
              <%= esq.label :data, "Data" %>
              <%= esq.text_field :data, class:"datepicker" %>
            </div>
            <div class="col s4 l1">
              <%= esq.link_to_remove "Remover" %>
            </div>
          </div>
      <% end %>
    </div>
    <div class="card-action">
      <%= f.link_to_add "Novo Classificação do Grau", :classificacao_graus %>
    </div>
  </div>

  <%= f.link_to_remove "Remover" %>
</div>

