<div class="card-panel">
	
<p>
  <strong>Numero:</strong>
  <%= @notificacao.numero %>
</p>

<p>
  <strong>Data:</strong>
  <%= @notificacao.data %>
</p>

<p>
  <strong>Grau incapacidade:</strong>
  <%= @notificacao.grau_incapacidade %>
</p>

<p>
  <strong>Modo entrada:</strong>
  <%= @notificacao.modo_entrada %>
</p>

<p>
  <strong>Modo deteccao:</strong>
  <%= @notificacao.modo_deteccao %>
</p>

<p>
  <strong>Observacoes:</strong>
  <%= @notificacao.observacoes %>
</p>

<p>
  <strong>Baciloscopia:</strong>
  <%= @notificacao.baciloscopia %>
</p>

<p>
  <strong>Data inicio:</strong>
  <%= @notificacao.data_inicio %>
</p>

<p>
  <strong>Esquema terapeutico:</strong>
  <%= @notificacao.esquema_terapeutico %>
</p>

</div>
<%= link_to 'Voltar', notificacaos_path, class:"btn" %>
