<%= form_for(paciente) do |f| %>
  <% if paciente.errors.any? %>
    <div id="error_explanation" class="card-panel red white-text">
      <h5>Resolva os problemas a seguir antes de Salvar:</h5>

      <ul>
      <% paciente.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="card-panel">
  
  <div class="input-field">

    <%= f.label :nome %>
    <%= f.text_field :nome %>
    
  </div>

  <div class="input-field">

    <%= f.label :nome_mae,"Nome da Mãe" %>
    <%= f.text_field :nome_mae %>
    
  </div>

  <div class="input-field">

    <%= f.label :idade %>
    <%= f.number_field :idade %>
    
  </div>

  <div class="input-field">

    <%= f.label :peso %>
    <%= f.text_field :peso %>
    
  </div>

  <div class="input-field">
    <%= f.label :sexo %> <br>

    <%= f.radio_button :sexo, 1 %>

    <%= f.label :sexo, "Masculino", value: 1 %>

    <%= f.radio_button :sexo, 2 %>
    <%= f.label :sexo, "Feminino", value: 2 %>

  </div>
  <br>
  <% if current_user.administrador? %>
  <div class="input">
    <%= f.label :cidade_id, "Cidade" %>
    <%= f.select :cidade_id, @cidades,{ prompt: true},{class:"browser-default chosen-select"}  %>

  </div>
  <% else %>
    <%= f.hidden_field :cidade_id %>
  <% end %>

  <div class="input-field">

    <%= f.label :endereco, "Endereço" %>
    <%= f.text_field :endereco %>
    
  </div>

  <div class="row">
    <div class="col s12 l6 input-field">
      <%= f.label :latitude %>
      <%= f.text_field :latitude %>
    </div>
    <div class="col s12 l6 input-field">
      <%= f.label :longitude %>
      <%= f.text_field :longitude %>
    </div>
  </div>



  <div class="input-field">

    <%= f.label :telefone %>
    <%= f.text_field :telefone %>
    
  </div>



  <div class="input">
    <%= f.label :ocupacao_id, "Ocupação" %>
    <%= f.select :ocupacao_id, @ocupacoes,{ prompt: true},{class:"browser-default chosen-select"}  %>
    
  </div>

</div>
  <div class="actions">
    <%= f.submit "Salvar", class:"btn" %>
  </div>
<% end %>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCWFnF5py8BuNUpvpcvuAVZQxJAm36NTA8&libraries=places"></script>

<script>

    // This example adds a search box to a map, using the Google Place Autocomplete
    // feature. People can enter geographical searches. The search box will return a
    // pick list containing a mix of places and predicted search terms.

    // This example requires the Places library. Include the libraries=places
    // parameter when you first load the API. For example:
    // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

    function initAutocomplete() {


        // Create the search box and link it to the UI element.
        var input = document.getElementById('paciente_endereco');
        var defaultBounds = new google.maps.LatLngBounds(
            new google.maps.LatLng(-9.768768, -48.352231),
            new google.maps.LatLng(-10.379600, -48.342440));

        var options = {
            componentRestrictions: {country: "br"}
        };

        var searchBox = new google.maps.places.Autocomplete(input, options);


        // Listen for the event fired when the user selects a prediction and retrieve
        // more details for that place.
        google.maps.event.addListener(searchBox,'place_changed', function()
        {


            var place = searchBox.getPlace();

            if (!place.geometry) {
                console.log("Returned place contains no geometry");
                return;
            }

            //Seta valores de endereço, latitude e longitude aos comapos correspondentes
            $("#paciente_endereco").val(place.formatted_address);
            $("#paciente_latitude").val(place.geometry.location.lat());
            $("#paciente_longitude").val(place.geometry.location.lng());
            $("#paciente_latitude").focus();
            $("#paciente_longitude").focus();

        });

    }

    setTimeout(
        function () {
            initAutocomplete()
        }
        ,300)

</script>
