<table class="card striped responsive-table">
  <thead>
  <tr>
    <th>Número</th>
    <th>Data</th>
    <th>Modo de entrada</th>
    <th>Modo de detecção</th>
    <th>Gerada por</th>


  </tr>
  </thead>

  <tbody>
  <% notificacoes.each do |notificacao| %>
      <tr>

        <td><%= link_to notificacao.numero,notificacao %></td>
        <td><%= notificacao.data %></td>
        <td><%= notificacao.modo_entrada_text %></td>
        <td><%= notificacao.modo_deteccao_text %></td>
        <td>
          <% if notificacao.recidiva_id.present? %>
            <%= link_to "Recidiva", recidiva_path(notificacao.recidiva) %>
          <% else %>
              <%#= link_to "Avaliação", avaliacao_notificacao_path(notificacao.avaliacao_notificacao) %>
          <% end %>
        </td>


      </tr>
  <% end %>
  </tbody>
</table>