<div class="card-panel">
  <div class="row">
    <div class="col s12 l6">
      <p>
        <strong>Nome:</strong>
        <%= @paciente.nome.upcase %>
      </p>

      <p>
        <strong>Nome mae:</strong>
        <%= @paciente.nome_mae.upcase %>
      </p>

      <p>
        <strong>Idade:</strong>
        <%= @paciente.idade %>
      </p>

      <p>
        <strong>Peso:</strong>
        <%= @paciente.peso %>
      </p>
    </div>
    <div class="col s12 l6">
      <p>
        <strong>Endereco:</strong>
        <%= @paciente.endereco %>
      </p>
      <p>
        <strong>Cidade:</strong>
        <%= @paciente.cidade %>
      </p>
      <p>
        <strong>Latitude:</strong>
        <%= @paciente.latitude %>
      </p>

      <p>
        <strong>Longitude:</strong>
        <%= @paciente.longitude %>
      </p>
    </div>


  </div>
	
<div class="row">
  <div class="col s12 l6">
    <p>
      <strong>Sexo:</strong>
      <%= @paciente.sexo == 1 ? "Masculino" : "Feminino" %>
    </p>
    <p>
      <strong>Telefone:</strong>
      <%= @paciente.telefone %>
    </p>
    <p>
      <strong>Ocupacao:</strong>
      <%= @paciente.ocupacao %>
    </p>
  </div>
  <div class="col s12 l6">
    <div id="map" style="height: 200px;width: 200px"></div>
  </div>
</div>

  <div class="row">
    <div class="card">
      <div class="card-content">
        <span class="card-title">Avaliações Iniciais</span>
        <%= render partial: "avaliacoes", locals: {avaliacao_notificacaos: @paciente.avaliacao_notificacaos.where(inicial: true)} %>
      </div>
      <div class="card-action">
        <a href="/avaliacao_notificacaos/new?paciente=<%= @paciente.id %>"><%= @paciente.avaliacao_notificacaos.count > 0 ? "Nova Avaliação" : "Primeira Avaliação" %></a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="card">
      <div class="card-content">
        <span class="card-title">Notificações</span>
        <%= render partial: "notificacoes", locals: {notificacoes: @paciente.notificacaos} %>
      </div>
      <div class="card-action">
       <!-- <a href="/notificacaos/new?paciente=<%#= @paciente.id %>">Nova Notificação</a>-->
      </div>
    </div>
  </div>

  <div class="row">
    <div class="card">
      <div class="card-content">
        <span class="card-title">Recidivas</span>
        <%= render partial: "recidivas", locals: {recidivas: @paciente.recidivas} %>
      </div>
      <% if current_user.administrador? || current_user.referencia? %>
        <div class="card-action">
          <a href="/recidivas/new?paciente=<%= @paciente.id %>">Recidiva</a>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="card">
      <div class="card-content">
        <span class="card-title">Escalas de Participação</span>
        <%= render partial: "escala_participacao", locals: {escala_parts: @paciente.escala_parts} %>
      </div>

      <div class="card-action">
        <a href="/escala_parts/new?paciente=<%= @paciente.id %>">Nova Entrevista</a>
      </div>

    </div>
  </div>



</div>
<%= link_to 'Voltar', pacientes_path, class:"btn" %>


<script>



    function initMap()
    {
        var posicao = {lat: <%= @paciente.latitude %>, lng: <%= @paciente.longitude %>};
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 15,
            center: posicao
        });
        var marker = new google.maps.Marker({
            position: posicao,
            map: map
        });
    }

</script>
<!-- google map api -->
<script async defer type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCWFnF5py8BuNUpvpcvuAVZQxJAm36NTA8&callback=initMap"></script>

