<%= form_for(contato_avaliacao) do |f| %>
  <% if contato_avaliacao.errors.any? %>
    <div id="error_explanation" class="card-panel red white-text">
      <h5>Resolva os problemas a seguir antes de Salvar:</h5>

      <ul>
      <% contato_avaliacao.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="card-panel">
  
  <div class="input-field">

    <%= f.label :data %>
    <%= f.text_field :data, class:"datepicker" %>
    
  </div>

  <div class="input-field">


    <%= f.check_box :suspeito %>
    <%= f.label :suspeito %>
    
  </div>

  <div class="input-field">


    <%= f.check_box :confirmado %>
    <%= f.label :confirmado %>
    
  </div>

    <%= f.hidden_field :notificacao_contato_id  %>


</div>
  <div class="actions">
    <%= f.submit "Salvar", class:"btn" %>
  </div>
<% end %>
