<div class="card-panel">

  <p>
    <strong>Contato:</strong>
    <%= @contato_avaliacao.notificacao_contato %>
  </p>
<p>
  <strong>Data:</strong>
  <%= @contato_avaliacao.data %>
</p>

<p>
  <strong>Suspeito:</strong>
  <%= @contato_avaliacao.suspeito == true ? "SIM" : "NÃO"  %>
</p>

<p>
  <strong>Confirmado:</strong>
  <%= @contato_avaliacao.confirmado == true ? "SIM" : "NÃO"  %>
</p>
  <p>
    <strong>Paciente:</strong>
    <%= @contato_avaliacao.notificacao_contato.notificacao.paciente %>
  </p>



</div>
<%= link_to 'Voltar', @contato_avaliacao.notificacao_contato, class:"btn" %>
