<div class="card-panel">
	
<p>
  <strong>Data:</strong>
  <%= @contato_avaliacao.data %>
</p>

<p>
  <strong>Suspeito:</strong>
  <%= @contato_avaliacao.suspeito %>
</p>

<p>
  <strong>Confirmado:</strong>
  <%= @contato_avaliacao.confirmado %>
</p>

<p>
  <strong>Notificacao contato:</strong>
  <%= @contato_avaliacao.notificacao_contato %>
</p>

</div>
<%= link_to 'Voltar', contato_avaliacaos_path, class:"btn" %>
