<div class="card-panel">
	
  <div class="row">
    <div class="col s12 l4">
      <strong>Unidade saude:</strong>
      <%= @recidiva.unidade_saude %>
    </div >

    <div class="col s12 l4">
      <strong>Prontuario:</strong>
      <%= @recidiva.prontuario %>
    </div>

    <div class="col s12 l4">
      <strong>Data diagnostico:</strong>
      <%= @recidiva.data_diagnostico %>
    </div>
  </div>

  <div class="row">
    <div class="card">
      <div class="card-content">
        <span class="card-title">História Anterior</span>

        <div class="card">
          <div class="card-content">
            <span class="card-title">Exame Dermatológico</span>
            <%= render partial: "exame_dermatologico", locals:{exames: @recidiva.dermatologico_recidivas} %>
          </div>

        </div>


      </div>

    </div>
  </div>


<div>
  <strong>Classificacao operacional:</strong>
  <%= @recidiva.classificacao_operacional %>
</div>

<div>
  <strong>Forma clinica:</strong>
  <%= @recidiva.forma_clinica %>
</div>

<div>
  <strong>Baciloscopia:</strong>
  <%= @recidiva.baciloscopia %>
</div>

<div>
  <strong>Baciloscopia lb:</strong>
  <%= @recidiva.baciloscopia_lb %>
</div>

<div>
  <strong>Grau incapacidade:</strong>
  <%= @recidiva.grau_incapacidade %>
</div>

<div>
  <strong>Inicio tratamento:</strong>
  <%= @recidiva.inicio_tratamento %>
</div>

<div>
  <strong>Esquema terapeutico:</strong>
  <%= @recidiva.esquema_terapeutico %>
</div>

<div>
  <strong>Tempo tratamento:</strong>
  <%= @recidiva.tempo_tratamento %>
</div>

<div>
  <strong>Doses:</strong>
  <%= @recidiva.doses %>
</div>

<div>
  <strong>Regularidade:</strong>
  <%= @recidiva.regularidade %>
</div>

<div>
  <strong>Termino tratamento:</strong>
  <%= @recidiva.termino_tratamento %>
</div>

<div>
  <strong>Tratamento observacoes:</strong>
  <%= @recidiva.tratamento_observacoes %>
</div>

<div>
  <strong>Tempo alta cura:</strong>
  <%= @recidiva.tempo_alta_cura %>
</div>

<div>
  <strong>Data primeiros sintomas:</strong>
  <%= @recidiva.data_primeiros_sintomas %>
</div>





<div>
  <strong>Grau incapacidade alta:</strong>
  <%= @recidiva.grau_incapacidade_alta %>
</div>

<div>
  <strong>Classificacao operacional alta:</strong>
  <%= @recidiva.classificacao_operacional_alta %>
</div>

<div>
  <strong>Notificacao:</strong>
  <%= @recidiva.notificacao %>
</div>

</div>
<%= link_to 'Voltar', recidivas_path, class:"btn" %>
