<div class="card-panel">
	
<p>
  <strong>Unidade saude:</strong>
  <%= @recidiva.unidade_saude %>
</p>

<p>
  <strong>Prontuario:</strong>
  <%= @recidiva.prontuario %>
</p>

<p>
  <strong>Data diagnostico:</strong>
  <%= @recidiva.data_diagnostico %>
</p>

<p>
  <strong>Classificacao operacional:</strong>
  <%= @recidiva.classificacao_operacional %>
</p>

<p>
  <strong>Forma clinica:</strong>
  <%= @recidiva.forma_clinica %>
</p>

<p>
  <strong>Baciloscopia:</strong>
  <%= @recidiva.baciloscopia %>
</p>

<p>
  <strong>Baciloscopia lb:</strong>
  <%= @recidiva.baciloscopia_lb %>
</p>

<p>
  <strong>Grau incapacidade:</strong>
  <%= @recidiva.grau_incapacidade %>
</p>

<p>
  <strong>Inicio tratamento:</strong>
  <%= @recidiva.inicio_tratamento %>
</p>

<p>
  <strong>Esquema terapeutico:</strong>
  <%= @recidiva.esquema_terapeutico %>
</p>

<p>
  <strong>Tempo tratamento:</strong>
  <%= @recidiva.tempo_tratamento %>
</p>

<p>
  <strong>Doses:</strong>
  <%= @recidiva.doses %>
</p>

<p>
  <strong>Regularidade:</strong>
  <%= @recidiva.regularidade %>
</p>

<p>
  <strong>Termino tratamento:</strong>
  <%= @recidiva.termino_tratamento %>
</p>

<p>
  <strong>Tratamento observacoes:</strong>
  <%= @recidiva.tratamento_observacoes %>
</p>

<p>
  <strong>Tempo alta cura:</strong>
  <%= @recidiva.tempo_alta_cura %>
</p>

<p>
  <strong>Data primeiros sintomas:</strong>
  <%= @recidiva.data_primeiros_sintomas %>
</p>

<p>
  <strong>Baciloscopia alta:</strong>
  <%= @recidiva.baciloscopia_alta %>
</p>

<p>
  <strong>Baciloscopia lb alta:</strong>
  <%= @recidiva.baciloscopia_lb_alta %>
</p>

<p>
  <strong>Grau incapacidade alta:</strong>
  <%= @recidiva.grau_incapacidade_alta %>
</p>

<p>
  <strong>Classificacao operacional alta:</strong>
  <%= @recidiva.classificacao_operacional_alta %>
</p>

<p>
  <strong>Notificacao:</strong>
  <%= @recidiva.notificacao %>
</p>

</div>
<%= link_to 'Voltar', recidivas_path, class:"btn" %>
