<div class="card">
  <h1 class="center-align">Responsáveis pelos Programas</h1>
</div>
<div class="card" style="overflow: visible;">
  <div class="card-content">
    <span class="card-title grey-text text-darken-4" onclick="toogle_div('#pesquisa')">
      Pesquisa
    </span>
    <div id="pesquisa" class="not-show">
      <%= search_form_for @q, url: request.env['PATH_INFO'] do |f|  %>
          <div class="row">
            <div class="col l6 s12">
              <%= f.label :nome_cont, "Nome" %>
              <%= f.text_field :nome_cont, placeholder: "Pesquisar..." %>
            </div>
            <% if current_user.administrador? || current_user.admin_dant? %>
              <div class="col l6 s12">
                <%= f.label "Município" %>
                <%= f.select :cidade_id_eq, @cidades,{prompt: true},{class:"browser-default chosen-select"} %>
              </div>
            <% end %>
          </div>

      <%= f.submit "Filtrar", class:"btn" %>
          <%= link_to "Limpar", dant_responsavel_programs_path , class:"btn red" %>
      <% end %>
    </div>
  </div>
</div>

<table class="card striped responsive-table">
  <thead>
    <tr>
            <th>Nome</th>
            <th>Cargo</th>
            <th>Cidade</th>
          </tr>
  </thead>

  <tbody>
    <% @dant_responsavel_programs.each do |dant_responsavel_program| %>
    <tr>
              
          <td><%= link_to dant_responsavel_program.nome,dant_responsavel_program %></td>
        
              

          <td><%= dant_responsavel_program.cargo %></td>
        
              

          <td><%= dant_responsavel_program.cidade %></td>
        
          </tr>
    <% end %>
  </tbody>
</table>

<div class="card-panel">
  <%= paginate(@dant_responsavel_programs)  %>
</div>

<%= link_to '+ Cadastrar', new_dant_responsavel_program_path, class:"btn" %>
