<div class="card">
  <h1 class="center-align">Responsáveis pelos Programas</h1>
</div>
<div class="card">
  <div class="card-content">
    <span class="card-title grey-text text-darken-4" onclick="toogle_div('#pesquisa')">
      Pesquisa
    </span>
    <div id="pesquisa" class="not-show">
      <%= search_form_for @q, url: request.env['PATH_INFO'] do |f|  %>
      <%# f.text_field :name_cont, placeholder: "Pesquisar..." %>
      <%= f.submit "Filtrar", class:"btn" %>
      <% end %>
    </div>
  </div>
</div>

<table class="card striped responsive-table">
  <thead>
    <tr>
            <th>Nome</th>
            <th>Cargo</th>
            <th>Cidade</th>
          </tr>
  </thead>

  <tbody>
    <% @dant_responsavel_programs.each do |dant_responsavel_program| %>
    <tr>
              
          <td><%= link_to dant_responsavel_program.nome,dant_responsavel_program %></td>
        
              

          <td><%= dant_responsavel_program.cargo %></td>
        
              

          <td><%= dant_responsavel_program.cidade %></td>
        
          </tr>
    <% end %>
  </tbody>
</table>

<div class="card-panel">
  <%= paginate(@dant_responsavel_programs)  %>
</div>

<%= link_to '+ Cadastrar', new_dant_responsavel_program_path, class:"btn" %>
