<div class="card-panel">
	
<p>
  <strong>Imunizacao esquema:</strong>
  <%= @imunizacao_encerramento.imunizacao_esquema %>
</p>

<p>
  <strong>Data administracao:</strong>
  <%= @imunizacao_encerramento.data_administracao %>
</p>

<p>
  <strong>Lote:</strong>
  <%= @imunizacao_encerramento.lote %>
</p>

<p>
  <strong>Validade:</strong>
  <%= @imunizacao_encerramento.validade %>
</p>

<p>
  <strong>Laboratorio:</strong>
  <%= @imunizacao_encerramento.laboratorio %>
</p>

<p>
  <strong>Unidade administracao:</strong>
  <%= @imunizacao_encerramento.unidade_administracao %>
</p>

<p>
  <strong>Via administracao:</strong>
  <%= @imunizacao_encerramento.via_administracao %>
</p>

<p>
  <strong>Profissional:</strong>
  <%= @imunizacao_encerramento.profissional %>
</p>

<p>
  <strong>Observacoes:</strong>
  <%= @imunizacao_encerramento.observacoes %>
</p>

</div>
<%= link_to 'Voltar', imunizacao_encerramentos_path, class:"btn" %>
