<h1 class="center-align">Usuário</h1>
<div class="card-panel">
	
<p>
  <strong>Nome:</strong>
  <%= @user.nome %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @user.cpf %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @user.cidade %>
</p>

<p>
  <strong>Perfil:</strong>
  <%= @user.role %>
</p>

  <p>
    <strong>Ativo:</strong>
    <%= @user.ativo == true ? "SIM" : "NÃO" %>
  </p>

</div>
<%= link_to 'Voltar', users_path, class:"btn" %>
