<div class="card">  
  <div class="card-content">
    <span class="card-title grey-text text-darken-4" onclick="toogle_div('#pesquisa')">
      Pesquisa
    </span>
    <div id="pesquisa" class="not-show">
      <%= search_form_for @q, url: request.env['PATH_INFO'] do |f|  %>
      <%# f.text_field :name_cont, placeholder: "Pesquisar..." %>
      <%= f.submit "Filtrar", class:"btn" %>
      <% end %>
    </div>
  </div>
</div>

<table class="card striped responsive-table">
  <thead>
    <tr>
            <th>Primeira dose</th>
            <th>Segunda dose</th>
            <th>Cicatriz</th>
            <th>Notificacao contato</th>
          </tr>
  </thead>

  <tbody>
    <% @bcgs.each do |bcg| %>
    <tr>
              
          <td><%= link_to bcg.primeira_dose,bcg %></td>
        
              

          <td><%= bcg.segunda_dose %></td>
        
              

          <td><%= bcg.cicatriz %></td>
        
              

          <td><%= bcg.notificacao_contato %></td>
        
          </tr>
    <% end %>
  </tbody>
</table>

<div class="card-panel">
  <%= paginate(@bcgs)  %>
</div>

<%= link_to '+ Cadastrar', new_bcg_path, class:"btn" %>
