<h1 class="center-align">Escala de Participação</h1>
<div class="card-panel">
	
<p>
  <strong>Questao 1:</strong>
  <%= @escala_part.questao_1 %>
</p>

<p>
  <strong>Questao 1 valor:</strong>
  <%= @escala_part.questao_1_valor %>
</p>

<p>
  <strong>Questao 2:</strong>
  <%= @escala_part.questao_2 %>
</p>

<p>
  <strong>Questao 2 valor:</strong>
  <%= @escala_part.questao_2_valor %>
</p>

<p>
  <strong>Questao 3:</strong>
  <%= @escala_part.questao_3 %>
</p>

<p>
  <strong>Questao 3 valor:</strong>
  <%= @escala_part.questao_3_valor %>
</p>

<p>
  <strong>Questao 4:</strong>
  <%= @escala_part.questao_4 %>
</p>

<p>
  <strong>Questao 4 valor:</strong>
  <%= @escala_part.questao_4_valor %>
</p>

<p>
  <strong>Questao 5:</strong>
  <%= @escala_part.questao_5 %>
</p>

<p>
  <strong>Questao 5 valor:</strong>
  <%= @escala_part.questao_5_valor %>
</p>

<p>
  <strong>Questao 6:</strong>
  <%= @escala_part.questao_6 %>
</p>

<p>
  <strong>Questao 6 valor:</strong>
  <%= @escala_part.questao_6_valor %>
</p>

<p>
  <strong>Questao 7:</strong>
  <%= @escala_part.questao_7 %>
</p>

<p>
  <strong>Questao 7 valor:</strong>
  <%= @escala_part.questao_7_valor %>
</p>

<p>
  <strong>Questao 8:</strong>
  <%= @escala_part.questao_8 %>
</p>

<p>
  <strong>Questao 8 valor:</strong>
  <%= @escala_part.questao_8_valor %>
</p>

<p>
  <strong>Questao 9:</strong>
  <%= @escala_part.questao_9 %>
</p>

<p>
  <strong>Questao 9 valor:</strong>
  <%= @escala_part.questao_9_valor %>
</p>

<p>
  <strong>Questao 10:</strong>
  <%= @escala_part.questao_10 %>
</p>

<p>
  <strong>Questao 10 valor:</strong>
  <%= @escala_part.questao_10_valor %>
</p>

<p>
  <strong>Questao 11:</strong>
  <%= @escala_part.questao_11 %>
</p>

<p>
  <strong>Questao 11 valor:</strong>
  <%= @escala_part.questao_11_valor %>
</p>

<p>
  <strong>Questao 12:</strong>
  <%= @escala_part.questao_12 %>
</p>

<p>
  <strong>Questao 12 valor:</strong>
  <%= @escala_part.questao_12_valor %>
</p>

<p>
  <strong>Questao 13:</strong>
  <%= @escala_part.questao_13 %>
</p>

<p>
  <strong>Questao 13 valor:</strong>
  <%= @escala_part.questao_13_valor %>
</p>

<p>
  <strong>Questao 14:</strong>
  <%= @escala_part.questao_14 %>
</p>

<p>
  <strong>Questao 14 valor:</strong>
  <%= @escala_part.questao_14_valor %>
</p>

<p>
  <strong>Questao 15:</strong>
  <%= @escala_part.questao_15 %>
</p>

<p>
  <strong>Questao 15 valor:</strong>
  <%= @escala_part.questao_15_valor %>
</p>

<p>
  <strong>Questao 16:</strong>
  <%= @escala_part.questao_16 %>
</p>

<p>
  <strong>Questao 16 valor:</strong>
  <%= @escala_part.questao_16_valor %>
</p>

<p>
  <strong>Questao 17:</strong>
  <%= @escala_part.questao_17 %>
</p>

<p>
  <strong>Questao 17 valor:</strong>
  <%= @escala_part.questao_17_valor %>
</p>

<p>
  <strong>Questao 18:</strong>
  <%= @escala_part.questao_18 %>
</p>

<p>
  <strong>Questao 18 valor:</strong>
  <%= @escala_part.questao_18_valor %>
</p>

<p>
  <strong>Data entrevista:</strong>
  <%= @escala_part.data_entrevista %>
</p>

<p>
  <strong>Entrevistador:</strong>
  <%= @escala_part.entrevistador %>
</p>

<p>
  <strong>Total:</strong>
  <%= @escala_part.total %>
</p>

<p>
  <strong>Grau restricao:</strong>
  <%= @escala_part.grau_restricao %>
</p>

<p>
  <strong>Comentario:</strong>
  <%= @escala_part.comentario %>
</p>

<p>
  <strong>Paciente:</strong>
  <%= @escala_part.paciente %>
</p>

<p>
  <strong>Notificacao:</strong>
  <%= @escala_part.notificacao %>
</p>

</div>
<%= link_to 'Voltar', escala_parts_path, class:"btn" %>
