<div class="card-panel">
	
<p>
  <strong>Avaliacao notificacao:</strong>
  <%= @avaliacao_sensitiva.avaliacao_notificacao %>
</p>

<p>
  <strong>Data:</strong>
  <%= @avaliacao_sensitiva.data %>
</p>

<p>
  <strong>Dedao direito:</strong>
  <%= @avaliacao_sensitiva.dedao_direito %>
</p>

<p>
  <strong>Indicador d ponta:</strong>
  <%= @avaliacao_sensitiva.indicador_d_ponta %>
</p>

<p>
  <strong>Indicador d:</strong>
  <%= @avaliacao_sensitiva.indicador_d %>
</p>

<p>
  <strong>Mindinho d ponta:</strong>
  <%= @avaliacao_sensitiva.mindinho_d_ponta %>
</p>

<p>
  <strong>Mindinho d:</strong>
  <%= @avaliacao_sensitiva.mindinho_d %>
</p>

<p>
  <strong>Mao direita:</strong>
  <%= @avaliacao_sensitiva.mao_direita %>
</p>

<p>
  <strong>Mao d costa:</strong>
  <%= @avaliacao_sensitiva.mao_d_costa %>
</p>

<p>
  <strong>Dedao esquerdo:</strong>
  <%= @avaliacao_sensitiva.dedao_esquerdo %>
</p>

<p>
  <strong>Indicador e ponta:</strong>
  <%= @avaliacao_sensitiva.indicador_e_ponta %>
</p>

<p>
  <strong>Indicador e:</strong>
  <%= @avaliacao_sensitiva.indicador_e %>
</p>

<p>
  <strong>Mindinho e ponta:</strong>
  <%= @avaliacao_sensitiva.mindinho_e_ponta %>
</p>

<p>
  <strong>Mindinho e:</strong>
  <%= @avaliacao_sensitiva.mindinho_e %>
</p>

<p>
  <strong>Mao esquerda:</strong>
  <%= @avaliacao_sensitiva.mao_esquerda %>
</p>

<p>
  <strong>Mao e costa:</strong>
  <%= @avaliacao_sensitiva.mao_e_costa %>
</p>

<p>
  <strong>Pe direito:</strong>
  <%= @avaliacao_sensitiva.pe_direito %>
</p>

<p>
  <strong>Pe d 1 ponta:</strong>
  <%= @avaliacao_sensitiva.pe_d_1_ponta %>
</p>

<p>
  <strong>Pe d 3 ponta:</strong>
  <%= @avaliacao_sensitiva.pe_d_3_ponta %>
</p>

<p>
  <strong>Pe d 5 ponta:</strong>
  <%= @avaliacao_sensitiva.pe_d_5_ponta %>
</p>

<p>
  <strong>Pe d 1:</strong>
  <%= @avaliacao_sensitiva.pe_d_1 %>
</p>

<p>
  <strong>Pe d 3:</strong>
  <%= @avaliacao_sensitiva.pe_d_3 %>
</p>

<p>
  <strong>Pe d 5:</strong>
  <%= @avaliacao_sensitiva.pe_d_5 %>
</p>

<p>
  <strong>Pe d e1:</strong>
  <%= @avaliacao_sensitiva.pe_d_e1 %>
</p>

<p>
  <strong>Pe d e1:</strong>
  <%= @avaliacao_sensitiva.pe_d_e1 %>
</p>

<p>
  <strong>Pe d calcanhar:</strong>
  <%= @avaliacao_sensitiva.pe_d_calcanhar %>
</p>

<p>
  <strong>Pe esquerdo:</strong>
  <%= @avaliacao_sensitiva.pe_esquerdo %>
</p>

<p>
  <strong>Pe e 1 ponta:</strong>
  <%= @avaliacao_sensitiva.pe_e_1_ponta %>
</p>

<p>
  <strong>Pe e 3 ponta:</strong>
  <%= @avaliacao_sensitiva.pe_e_3_ponta %>
</p>

<p>
  <strong>Pe e 5 ponta:</strong>
  <%= @avaliacao_sensitiva.pe_e_5_ponta %>
</p>

<p>
  <strong>Pe e 1:</strong>
  <%= @avaliacao_sensitiva.pe_e_1 %>
</p>

<p>
  <strong>Pe e 3:</strong>
  <%= @avaliacao_sensitiva.pe_e_3 %>
</p>

<p>
  <strong>Pe e 5:</strong>
  <%= @avaliacao_sensitiva.pe_e_5 %>
</p>

<p>
  <strong>Pe e e1:</strong>
  <%= @avaliacao_sensitiva.pe_e_e1 %>
</p>

<p>
  <strong>Pe e e2:</strong>
  <%= @avaliacao_sensitiva.pe_e_e2 %>
</p>

<p>
  <strong>Pe e calcanhar:</strong>
  <%= @avaliacao_sensitiva.pe_e_calcanhar %>
</p>

</div>
<%= link_to 'Voltar', avaliacao_sensitivas_path, class:"btn" %>
