<div class="card-panel">
	
<p>
  <strong>Classificacao operacional:</strong>
  <%= @avaliacao_notificacao.classificacao_operacional %>
</p>

<p>
  <strong>Inicio pqt:</strong>
  <%= @avaliacao_notificacao.inicio_pqt %>
</p>

<p>
  <strong>Alta pqt:</strong>
  <%= @avaliacao_notificacao.alta_pqt %>
</p>

<p>
  <strong>Profissao:</strong>
  <%= @avaliacao_notificacao.profissao %>
</p>

<p>
  <strong>Unidade saude:</strong>
  <%= @avaliacao_notificacao.unidade_saude %>
</p>

<p>
  <strong>Atividades realizadas ubs:</strong>
  <%= @avaliacao_notificacao.atividades_realizadas_ubs %>
</p>

<p>
  <strong>Grupo autocuidado:</strong>
  <%= @avaliacao_notificacao.grupo_autocuidado %>
</p>

<p>
  <strong>Encaminhamentos:</strong>
  <%= @avaliacao_notificacao.encaminhamentos %>
</p>

<p>
  <strong>Imobilizacoes:</strong>
  <%= @avaliacao_notificacao.imobilizacoes %>
</p>

<p>
  <strong>Adaptacoes:</strong>
  <%= @avaliacao_notificacao.adaptacoes %>
</p>

<p>
  <strong>Observacoes:</strong>
  <%= @avaliacao_notificacao.observacoes %>
</p>

<p>
  <strong>Notificacao:</strong>
  <%= @avaliacao_notificacao.notificacao %>
</p>

</div>
<%= link_to 'Voltar', avaliacao_notificacaos_path, class:"btn" %>
