<div class="card-panel">
	
<p>
  <strong>Qtd hipertensos:</strong>
  <%= @dant_request.qtd_hipertensos %>
</p>

<p>
  <strong>Atendimento hipertensos:</strong>
  <%= @dant_request.atendimento_hipertensos %>
</p>

<p>
  <strong>Qtd obitos hipertensos:</strong>
  <%= @dant_request.qtd_obitos_hipertensos %>
</p>

<p>
  <strong>Qtd diabeticos:</strong>
  <%= @dant_request.qtd_diabeticos %>
</p>

<p>
  <strong>Atendimento diabeticos:</strong>
  <%= @dant_request.atendimento_diabeticos %>
</p>

<p>
  <strong>Qtd obitos diabeticos:</strong>
  <%= @dant_request.qtd_obitos_diabeticos %>
</p>

<p>
  <strong>Qtd diabeticos hipertencos:</strong>
  <%= @dant_request.qtd_diabeticos_hipertencos %>
</p>

<p>
  <strong>Atendimento diabeticos hipertensos:</strong>
  <%= @dant_request.atendimento_diabeticos_hipertensos %>
</p>

<p>
  <strong>Qtd tratamento hemodialise:</strong>
  <%= @dant_request.qtd_tratamento_hemodialise %>
</p>

<p>
  <strong>Qtd nph:</strong>
  <%= @dant_request.qtd_nph %>
</p>

<p>
  <strong>Qtd frascos nph:</strong>
  <%= @dant_request.qtd_frascos_nph %>
</p>

<p>
  <strong>Qtd regular:</strong>
  <%= @dant_request.qtd_regular %>
</p>

<p>
  <strong>Qtd frascos regular:</strong>
  <%= @dant_request.qtd_frascos_regular %>
</p>

<p>
  <strong>Qtd analoga:</strong>
  <%= @dant_request.qtd_analoga %>
</p>

<p>
  <strong>Qtd frascos analoga:</strong>
  <%= @dant_request.qtd_frascos_analoga %>
</p>

<p>
  <strong>Qtd tabagista:</strong>
  <%= @dant_request.qtd_tabagista %>
</p>

<p>
  <strong>Qtd atendimento tabagista:</strong>
  <%= @dant_request.qtd_atendimento_tabagista %>
</p>

<p>
  <strong>Qtd etilista:</strong>
  <%= @dant_request.qtd_etilista %>
</p>

<p>
  <strong>Qtd atendimento etilista:</strong>
  <%= @dant_request.qtd_atendimento_etilista %>
</p>

<p>
  <strong>Qtd obesos:</strong>
  <%= @dant_request.qtd_obesos %>
</p>

<p>
  <strong>Qtd obesidade 1:</strong>
  <%= @dant_request.qtd_obesidade_1 %>
</p>

<p>
  <strong>Qtd obesidate 2:</strong>
  <%= @dant_request.qtd_obesidate_2 %>
</p>

<p>
  <strong>Qtd obesidade 3:</strong>
  <%= @dant_request.qtd_obesidade_3 %>
</p>

<p>
  <strong>Mes:</strong>
  <%= @dant_request.mes %>
</p>

<p>
  <strong>Dant responsavel program:</strong>
  <%= @dant_request.dant_responsavel_program %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @dant_request.cidade %>
</p>

<p>
  <strong>Status:</strong>
  <%= @dant_request.status %>
</p>

</div>
<%= link_to 'Voltar', dant_requests_path, class:"btn" %>
