<div class="card">
  <div class="card-content">
    <span class="card-title grey-text text-darken-4" onclick="toogle_div('#pesquisa')">
      Pesquisa
    </span>
    <div id="pesquisa" class="not-show">
      <%= search_form_for @q, url: request.env['PATH_INFO'] do |f|  %>
          <%= f.text_field :nome_paciente_or_nome_mae_or_status_cont, placeholder: "Pesquisar..." %>
          <%= f.submit "Filtrar", class:"btn" %>
      <% end %>
    </div>
  </div>
</div>

<table class="card striped responsive-table">
  <thead>
  <tr>
    <th>#</th>
    <th>Nome paciente</th>
    <th>Data nascimento</th>
    <th>Nome mae</th>
    <th>Municipio requisitante</th>
    <th>Status</th>
  </tr>
  </thead>

  <tbody>
  <% @imunizacao_solicitacaos.each do |imunizacao_solicitacao| %>
      <tr>
        <td><%= link_to imunizacao_solicitacao.id,imunizacao_solicitacao %></td>
        <td><%= link_to imunizacao_solicitacao.nome_paciente,imunizacao_solicitacao %></td>
        <td><%= imunizacao_solicitacao.data_nascimento %></td>
        <td><%= imunizacao_solicitacao.nome_mae %></td>
        <td><%= imunizacao_solicitacao.municipio_requisitante %></td>
        <td><%= imunizacao_solicitacao.status %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<div class="card-panel">
  <%= paginate(@imunizacao_solicitacaos)  %>
</div>

<%= link_to '+ Cadastrar', new_imunizacao_solicitacao_path, class:"btn" %>
