<div class="card-panel">
	
<p>
  <strong>Nome paciente:</strong>
  <%= @imunizacao_solicitacao.nome_paciente %>
</p>

<p>
  <strong>Data nascimento:</strong>
  <%= @imunizacao_solicitacao.data_nascimento %>
</p>

<p>
  <strong>Sexo:</strong>
  <%= @imunizacao_solicitacao.sexo %>
</p>

<p>
  <strong>Nome mae:</strong>
  <%= @imunizacao_solicitacao.nome_mae %>
</p>

<p>
  <strong>Endereco:</strong>
  <%= @imunizacao_solicitacao.endereco %>
</p>

<p>
  <strong>Bairro:</strong>
  <%= @imunizacao_solicitacao.bairro %>
</p>

<p>
  <strong>Municipio:</strong>
  <%= @imunizacao_solicitacao.municipio_id %>
</p>

<p>
  <strong>Motivo solicitacao:</strong>
  <%= @imunizacao_solicitacao.motivo_solicitacao %>
</p>

<p>
  <strong>Nome requisitante:</strong>
  <%= @imunizacao_solicitacao.nome_requisitante %>
</p>

<p>
  <strong>Tipo requisitante:</strong>
  <%= @imunizacao_solicitacao.tipo_requisitante %>
</p>

<p>
  <strong>Crm coren:</strong>
  <%= @imunizacao_solicitacao.crm_coren %>
</p>

<p>
  <strong>Telefone requisitante:</strong>
  <%= @imunizacao_solicitacao.telefone_requisitante %>
</p>

<p>
  <strong>Instituicao requisitante:</strong>
  <%= @imunizacao_solicitacao.instituicao_requisitante %>
</p>

<p>
  <strong>Municipio requisitante:</strong>
  <%= @imunizacao_solicitacao.municipio_requisitante_id %>
</p>

<p>
  <strong>Anexo:</strong>
  <%= @imunizacao_solicitacao.anexo %>
</p>

<p>
  <strong>Solicitante:</strong>
  <%= @imunizacao_solicitacao.solicitante %>
</p>

<p>
  <strong>Observacoes:</strong>
  <%= @imunizacao_solicitacao.observacoes %>
</p>

<p>
  <strong>Data atendimento:</strong>
  <%= @imunizacao_solicitacao.data_atendimento %>
</p>

<p>
  <strong>Municipio atual:</strong>
  <%= @imunizacao_solicitacao.municipio_atual_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @imunizacao_solicitacao.status %>
</p>

</div>
<%= link_to 'Voltar', imunizacao_solicitacaos_path, class:"btn" %>
