<div class="card-panel">
	
<p>
  <strong>Nome:</strong>
  <%= @dst_produto.nome %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= @dst_produto.descricao %>
</p>

<p>
  <strong>Unidade de medida:</strong>
  <%= @dst_produto.unidade_medida %>
</p>

<p>
  <strong>Ativo:</strong>
  <%= @dst_produto.status == true ? "SIM" : "NÃO" %>
</p>

</div>

<%= link_to 'Voltar', dst_produtos_path, class:"btn" %>
