<div class="card-panel">
	
<p>
  <strong>Notificacao:</strong>
  <%= @episodio_reacional.notificacao %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @episodio_reacional.tipo %>
</p>

<p>
  <strong>Numero episodios:</strong>
  <%= @episodio_reacional.numero_episodios %>
</p>

<p>
  <strong>Conduta mendicamentosa:</strong>
  <%= @episodio_reacional.conduta_mendicamentosa %>
</p>

<p>
  <strong>Data inicio:</strong>
  <%= @episodio_reacional.data_inicio %>
</p>

<p>
  <strong>Data termino:</strong>
  <%= @episodio_reacional.data_termino %>
</p>

</div>
<%= link_to 'Voltar', episodio_reacionals_path, class:"btn" %>
